html,
body,
#root {
  height: 100%;
}
.navbar {
  color: #ffffff;
  padding-left: 40px;
  background-color: #54436B;
  padding: 10px 10px 10px 35px;

}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

a:hover{
  text-decoration: none;
}

.star-btn{
    background-color: #262626;
    padding:5px 10px 5px 10px;
    color:#ffffff;
    border-radius:5px;
    font-weight:600;
    margin-left:auto;
    margin-right:10px;
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 40px;
  }
}
