body {
	background-color: #f2f2f2;
}

.main-container {	
	display: flex;
	flex-direction: row;
}
.tagline {
	max-width: 300px;
	font-weight: 600;
	font-size: 18px;
}
.config-container {
	display: flex;
	flex-direction: column;
	padding:35px;
	width: 600px;
	background-color: #ffffff;
	margin-right:10px;
	justify-items: center;
	justify-content: center;
	
}
.card{
    text-align: center;
    color:#676683;
	
}

details{
	font-size: 1rem;
	box-shadow: 0 10px 15px -5px #f2f2f2;
	width: 100%;
	background: #ffffff;
	border-radius: 5px;
	position: relative;
	max-width: 400px;
	padding:5px;
	border: 2px solid #f2f2f2;
	margin:4px;
	justify-content: center;
	align-items: center;

	
}


.flex-card{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;

}


.blog-cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px;
	}
label{
	margin: 5px;
}
input {
	margin: 4px;
		background-color: #f2f2f2;

}

.input-title{
	margin:5px;
	background-color: #f2f2f2;
}

.input-author{
		background-color: #f2f2f2;

}
.input-color{
padding:1px;
	width:40px;
	height:40px;
}

.font-size{
	padding:2px;
	width:50px;
}

.input-md{
	width:100px;
}


.reset-btn {
	margin-top: 20px;
	font-size: 18px;
	padding:6px;

}

@media screen and (max-width: 600px) {
	.main-container {
		display: flex;
		flex-direction: column;
	}
	.config-container{width:auto;}
	.blog-cover{margin:0px;}
	.card{margin:10px;}	
	
}
