body {
	background-color: #f2f2f2;
}

.main-container {
	width: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.tagline {
	max-width: 300px;
}
.inputData {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}
.blog-cover {
	display: flex;
	flex-direction: column;
}
label {
	margin: 5px;
}
input {
	margin: 4px;
}

input[type=number]{
	width:40px;
}

.custom-range::-webkit-slider-thumb{	
	background-color: #00cc7a;
}
.input-sm{
	width:80px;
}
.input-md{
	width:120px;
}
.inputTitle {
	border-radius: 4px;
	padding-left: 20px;
}

.reset-btn {
	background-color: #00e68a;
	margin-top: 10px;
	box-shadow: 4px 4px #676683;

}

@media screen and (max-width: 600px) {
	.main-container {
		display: flex;
		flex-direction: column;
	}
}
