.cover {
    display: flex;
    height: 420px;
    width: 800px;
    overflow-y: hidden;
}

@media screen and (max-width:600px) {
    .cover {
        width: 90vw;
        height: 60vh;
        padding: 4vh;
    }
}