
.cover{
    background-color:  #00ff99;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:380px;
    width:800px;
    padding:90px;

}

.title-card{
   border-radius: 2px 2px 20px 20px;
   background-color: #ffffff; 
   text-align: center;
   color:#676683;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   padding:40px;
   font-size:35px;
   font-weight: 600;
   border:none;  
   vertical-align: middle; 
}

i{
    font-size: 32px;
    float:left;
    margin-left:2vw;
}
.author{
    float:right;
    margin-right:3vw;
}
.meta{
    float:bottom;
    background-color: #676683;
    color:#ffffff;
    height:42px;
    padding :4px;
    font-weight: 500;
    vertical-align: middle;    
}

h1{
    height:auto;
}

button{
    background-color: #676683;
    color:#ffffff;
    border:none;
    border-radius:4px;
    padding:10px;
    width:150px;
    margin-top:20px;
    text-align: center;
    box-shadow: 4px 4px #cccccc;
}

@media screen and (max-width:600px){
    .cover{
        width:100vw;
        height:auto;
        padding:8vh;
    }
    .title-card{
        padding:2.5vw 3vw 2.5vw 3vw;
        font-size: 1.2rem;
    }
    .meta{
        height:5vh;
        font-size: 2vh;
    }
    i{font-size:3.5vh;}
   
}