
.cover{
    background-color:  #00ff99;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:420px;
    width:800px;
    padding:90px;
    margin:30px 0px 15px 0px;

    
}

.title-card{

   border-radius: 2px 2px 20px 20px;
   background-color: #ffffff; 
   text-align: center;
   color:#676683;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   padding:50px;
   font-size:40px;
   font-weight: 600;
   border:none;
   
}
.card{margin:20px;
    border-radius: 8px;
    text-align: center;
    color:#676683;
    padding:50px 25px 50px 25px;
    border:4px solid #676683;
}
h1{height:auto;}

button{background-color: #676683;
color:#ffffff;
border:none;
border-radius:4px;
padding:10px;
margin:auto;
width:100px;
text-align: center;}


.pattern1{
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%239C92AC' fill-opacity='0.82'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


@media screen and (max-width:600px){
    .cover{
        width:100vw;
        height:auto;
        padding:8vh;
    }
    .title-card{
        padding:2.5vw 3vw 2.5vw 3vw;
        font-size: 1.4rem;
    }
}